<html>
<head>

    <title>{{title}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
    <script src = "/javascripts/login.js"></script>
    <!-- // <script src="/javascripts/jquery.stellar.min.js"></script> -->

  </head>

<body>
<div class = "main", style="background-color: #bdc3c7;">
<div class = "col-md-12 main">
  <hr>
  <div class="row">
    <div class="col-sm-4 col-md-6">
      <h1>Open Offers</h1>
    </div>
<button type="button" class="btn btn-info btn-lg add" data-toggle="modal" data-target="#myModal">Create Offer</button>

  </div>
  <hr>
  <div class = "container listing">
  <div class="scrollable">
  {{#each offers}}

  



  <h3>{{this.meal}} at {{this.location}} for ${{this.price}}</h3>
  <span>{{this.user}}</span>
  <form action = "/accept" method = "post">
      <button name ="button" class = "buy" value = {{this.user}}>Accept</button>
  </form>
  <hr>      


  {{/each}}
  </div>
  </div>
</div>



<!-- Trigger the modal with a button -->
{{!-- <div class="col-lg-1 col-centered">
<div class = "row">
<button type="button" class="btn btn-info btn-lg add" data-toggle="modal" data-target="#myModal">Create Offer</button>
</div>
</div> --}}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
  <div class="row">   
    <div class="col-md-3"></div>
    <div class="col-md-12 main">
    <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="container-fluid"> 
          <form method="post" action="/listing" class="form-inline">
            <div class="form-group">
              <div class="row"> 
              <label>Name</label>
              <input type="text" name="name" class="form-inline" required>
              </div>
              <div class="row"> 
              <label>Price</label>
              <input type="text" name="price" class="form-inline" required>
              </div>
              <div class="row"> 
              <label>Location</label>
              <select name="location">
                <option value="foco">FoCo</option>
                <option value="hop">Hop</option>
                <option value="collis">Collis</option>
                <option value="novack">Novack</option>
              </select>
              </div>
              <div class="row"> 
               <label>Meal</label>
                <select name="meal">
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
                <option value="late">Late Night</option>
              </select>
              </div>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
</body>
</html>
